<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en"> <!--begin::Head-->

<head th:replace="headAll :: html_head" />

<body th:replace="menu :: menuAll" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
			<div th:replace="div-header :: divHeader" />
			<!-- /.content-header -->
	<!-- Main content -->
	<main class="app-main"> <!--begin::App Content Header-->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
						<!--								<h1 class="text-center" th:text="${titulo}"></h1>-->
						<form th:action="@{/empleados/formEmpleado}" th:object="${empleado}" method="post">
							<input type="hidden" th:field="*{id}" th:value="${empleado.id}" />
							<div class="form-group">
								<label>Nombre: </label>
								<input type="text" th:field="*{nombre}" class="form-control"
									th:errorClass="'form-control alert-danger'" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
									th:errors="*{nombre}"></small>
							</div>
							<div class="form-group">
								<label>Apellido Paterno: </label>
								<input type="text" th:field="*{apellidop}" class="form-control"
									th:errorClass="'form-control alert-danger'" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidop')}"
									th:errors="*{apellidop}"></small>
							</div>
							<div class="form-group">
								<label>Apellido Materno: </label>
								<input type="text" th:field="*{apellidom}" class="form-control"
									th:errorClass="'form-control alert-danger'" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidom')}"
									th:errors="*{apellidom}"></small>
							</div>
							<div class="form-group">
								<label>Edad: </label>
								<input type="number" th:field="*{edad}" class="form-control"
									th:errorClass="'form-control alert-danger'" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('edad')}"
									th:errors="*{edad}"></small>
							</div>
							<div class="form-group">
								<label>Sexo: </label>
								<select class="form-control" th:field="*{sexo}">
									<option th:value='M'>Masculino</option>
									<option th:value='F'>Femenino</option>
									<option th:value='Otro'>Otro</option>
								</select>
							</div>
							<div class="form-group">
								<label>Correo: </label>
								<input type="text" th:field="*{correo}" class="form-control"
									th:errorClass="'form-control alert-danger'" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}"
									th:errors="*{correo}"></small>
							</div>
							<div class="form-group">
								<label>Fecha: </label>
								<input type="date" th:field="*{fecha}" class="form-control"
									th:errorClass="'form-control alert-danger'" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}"
									th:errors="*{fecha}"></small>
							</div>
							<div class="form-group">
								<label>Telefono: </label>
								<input type="number" th:field="*{telefono}" class="form-control"
									th:errorClass="'form-control alert-danger'" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}"
									th:errors="*{telefono}"></small>
							</div>
							<div class="form-group">
								<label>Salario: </label>
								<input type="number" th:field="*{salario}" class="form-control"
									th:errorClass="'form-control alert-danger'" />
								<small class="form-text text-danger" th:if="${#fields.hasErrors('salario')}"
									th:errors="*{salario}"></small>
							</div>
							<div class="box-footer">
								<input type="submit" value="Guardar" class="btn btn-primary">
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</main> <!--end::App Main--> <!--begin::Footer-->

</div>
<!-- /.content-wrapper -->
<footer th:replace="footerAll :: html_footer" />

</html>