<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en"> <!--begin::Head-->


<head th:replace="headAll :: html_head" />

<body th:replace="menu :: menuAll" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
			<div th:replace="div-header :: divHeader" />
			<!-- /.content-header -->

	<!-- Main content -->
	<main class="app-main"> <!--begin::App Content Header-->
		<section class="content">
			<div class="container-fluid">
				<div class="py-4 ml-5 mr-5">
					<div class="carf bg-light">
						<!--								<div class="sidebar-brand"> -->
						<!--									<a href="menu" class="brand-link"> -->
						<!--										<span class="brand-text fw-light" th:text="${titulo}"></span>-->
						<!--								</div> -->
						<div class="card-body">
							<h4 class="card-title">
								<a th:href="@{/empleados/exportarPDF}" class="btn btn-secondary">Exportar a PDF</a>
								<a th:href="@{/empleados/exportarExcel}" class="btn btn-success">Exportar a Excel</a>
							</h4>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Nombre</th>
										<th>Apellido P</th>
										<th>Apellido M</th>
										<th>Edad</th>
										<th>Email</th>
										<th>Sexo</th>
										<th>Telefono</th>
										<th>Fecha</th>
										<th>Salario</th>
										<th>Detalles</th>
										<th>Editar</th>
										<th>Eliminar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="empleado : ${empleados}">
										<td th:text="${empleado.id}"></td>
										<td th:text="${empleado.nombre}"></td>
										<td th:text="${empleado.apellidop}"></td>
										<td th:text="${empleado.apellidom}"></td>
										<td th:text="${empleado.edad}"></td>
										<td th:text="${empleado.correo}"></td>
										<td th:text="${empleado.sexo}"></td>
										<td th:text="${empleado.telefono}"></td>
										<td th:text="${empleado.fecha}"></td>
										<td th:text="${empleado.salario}"></td>
										<td><a class="btn btn-info btn-sm"
												th:href="@{/empleados/verEmpleado/} + ${empleado.id}">Detalles</a>
										</td>
										<td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-warning btn-sm"
												th:href="@{/empleados/formEmpleado/} + ${empleado.id}">Editar</a></td>
										<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-sm"
												th:href="@{/empleados/eliminar/} + ${empleado.id}"
												onclick="return confirm('Esta seguro de Eliminar el Empleado');">Eliminar</a>
										</td>
									</tr>
								</tbody>
							</table>
							<nav th:replace="paginator-nav :: paginator"></nav>
						</div>

					</div>
				</div>
				<footer th:replace="layout/layout :: footer"></footer>
			</div><!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</main> <!--end::App Main--> <!--begin::Footer-->

</div>
<!-- /.content-wrapper -->
<footer th:replace="footerAll :: html_footer" />

</html>