<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en"> <!--begin::Head-->

<head th:replace="headAll :: html_head" />

<body th:replace="menu :: menuAll" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
			<div th:replace="div-header :: divHeader" />
			<!-- /.content-header -->

			<!-- Main content -->
			<main class="app-main"> <!--begin::App Content Header-->
				<section class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
								<div th:if="${titulo !=''}">
								<div class="alert alert-primary alert-dismissible fade show"
									role="alert">
									<span aria-hidden="true" >&times;</span>
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true" th:text="${success}">&times;</span>
									</button>
								</div>
							</div>
								<!--								<h1 class="text-center" th:text="${titulo}"></h1>-->
								<form th:action="@{/usuarios/formUsuN}" th:object="${usu}" method="post">
									<input type="hidden" th:field="*{id}" th:value="${usu.id}" />
									<div class="form-group">
										<label>Nombre: </label>
										<input type="text" th:field="${usu.usu}" class="form-control"
											th:errorClass="'form-control alert-danger'" minlength="5" required autocomplete="off"/>
										<small class="form-text text-danger" th:if="${#fields.hasErrors('usu')}"
											th:errors="${usu.usu}"></small>
									</div>
									<div class="form-group">
										<label>Contraseña: </label>
										<input type="password" th:field="${usu.pass}" class="form-control"
											th:errorClass="'form-control alert-danger'" minlength="5" required autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"/>
										<small class="form-text text-danger" th:if="${#fields.hasErrors('pass')}"
											th:errors="${usu.pass}"></small>
									</div>
									<div class="form-group">
										<label>PERMISOS </label>
									</div>
									<div class="form-group">
										<label>ROLES: </label>
									</div>
									<div class="form-group">
										<div class="row">
											<!--											<div class="col-lg-3 col-6">-->
											<!--									            <div class="small-box bg-info">-->

											<!--									            </div>-->
											<!--									          </div>-->
											<div class="col-lg-3 col-6">
												<!-- small box -->
												<div class="small-box bg-info">
													<select class="form-control" id="dropDownList"
														onchange="addRoles(this.value)">
														<option value="0">select option</option>
														<option th:each="rol : ${roles}" th:value="${rol.name}"
															th:text="${rol.name}"></option>
													</select>
												</div>
											</div>
											<div class="col-lg-3 col-6">
												<!-- small box -->
												<div class="small-box bg-info">
													<textarea rows="2" cols="40" id="TEaddRoles" name="TEaddRoles"
														th:field="${usu.roles}"></textarea>
													<button rows="2" cols="40" type="button" class="btn btn-danger"
														onclick="cleanRoles()">
														<img src="../../distV32/img/trash.svg" alt="Gestion"
															class="brand-image opacity-2 shadow">
														Borrar permisos
													</button>
												</div>

											</div>
										</div>
									</div>
<!--									<div class="form-group">-->
<!--										<label>ESTATUS: </label>-->
<!--									</div>-->
<!--									<div class="form-group">-->
<!--										<div class="row">-->
<!--											<div class="col-lg-3 col-6">-->
<!--												<div class="small-box bg-info">-->

<!--												</div>-->
<!--											</div>-->
<!--											<div class="col-lg-3 col-6">-->
<!--												<input type="checkbox" name="Bloqueado"-->
<!--													th:checked="${usu.getBloqueado()}" />-->
<!--												<label>BLOQUEADO</label>-->
<!--												<div></div>-->
<!--												<input type="checkbox" name="Disabled"-->
<!--													th:checked="${usu.getDisabled()}" />-->
<!--												<label>DESACTIVADO</label>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
									<div class="box-footer">
										<input type="submit" value="Guardar" class="btn btn-primary" on>
									</div>
								</form>
							</div>
						</div>
					</div><!-- /.container-fluid -->
					<script type="text/javascript">

						function addRoles(rol) {
							var valor = $("#TEaddRoles").val();
							if (valor == "") {
								$("#TEaddRoles").val(rol + ",");
								$("#LARoles").val(rol + "',");
							} else {
								$("#TEaddRoles").val(valor + rol + ",");
								$("#LARoles").val(valor + rol + ",");
							}
						}
						function cleanRoles() {
							$("#TEaddRoles").val("");
							$("#LARoles").val("");
						}
					</script>
				</section>
				<!-- /.content -->
			</main> <!--end::App Main--> <!--begin::Footer-->

		</div>
		<!-- /.content-wrapper -->

</html>