<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en"> <!--begin::Head-->

<head th:replace="headAll :: html_head" />

<body th:replace="menu :: menuAll" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
			<div th:replace="div-header :: divHeader" />
			<!-- /.content-header -->
			<main class="app-main"> <!--begin::App Content Header-->
				<section class="content">
					<div class="container-fluid">
						<div class="container py-4">
							<div class="card bg-light">
								<div class="card-header" th:text="${titulo}">
								</div>
								<div class="card-body">
									Usuario: <li class="list-group-item active" th:text="${usuario.username}"></li>
									Bloqueado:<li class="list-group-item" th:text="${usuario.bloqueado}"></li>
									Desactivado:<li class="list-group-item" th:text="${usuario.disabled}"></li>
								</div>
							</div>
						</div>
					</div><!-- /.container-fluid -->
				</section>
				<!-- /.content -->
			</main> <!--end::App Main--> <!--begin::Footer-->

		</div>
		<!-- /.content-wrapper -->
</html>