<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en"> <!--begin::Head-->
		<!-- /.content-wrapper -->
		<footer th:fragment="html_footer" class="app-footer"> <!--begin::To the end-->
			<div class="row mb-2">
				<div class="col-sm-1"></div>
				<div class="float-end d-none d-sm-inline">Gestion de Empleados&nbsp;&nbsp;</div> <!--end::To the end-->
				<!--begin::Copyright--> <strong>
					Copyright &copy; 2024&nbsp;
					<a href="#" class="text-decoration-none">Gestion</a>.
				</strong>
				Todos los derechos reservados.
				<!--end::Copyright-->
			</div>
		</footer> <!--end::Footer-->
</html>