<!DOCTYPE html>
<html xmlns:th="http://www.thimeleaf.org">

<head th:replace="layout/layout :: head">
	<meta charset="utf-8">
</head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center" th:text="${titulo}"></h1>
				<form th:action="@{/form}" th:object="${empleado}" method="post">
					<input type="hidden" th:field="*{id}" th:value="${empleado.id}"/>
					<div class="form-group">
						<label>Nombre: </label>
						<input type="text" th:field="*{nombre}" class="form-control" th:errorClass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
					</div>
					<div class="form-group">
						<label>Apellido Paterno: </label>
						<input type="text" th:field="*{apellidoP}" class="form-control" th:errorClass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidoP')}" th:errors="*{apellidoP}"></small>
					</div>
					<div class="form-group">
						<label>Apellido Materno: </label>
						<input type="text" th:field="*{apellidoM}" class="form-control" th:errorClass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidoM')}" th:errors="*{apellidoM}"></small>
					</div>
					<div class="form-group">
						<label>Edad: </label>
						<input type="text" th:field="*{edad}" class="form-control" th:errorClass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small>
					</div>
					<div class="form-group">
						<label>Sexo: </label>
						<select class="form-control" th:field="*{sexo}">
							<option th:value='M'>Masculino</option>
							<option th:value='F'>Femenino</option>
							<option th:value='Otro'>Otro</option>
						</select>
					</div>
					<div class="form-group">
						<label>Correo: </label>
						<input type="text" th:field="*{correo}" class="form-control" th:errorClass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
					</div>
					<div class="form-group">
						<label>Fecha: </label>
						<input type="date" th:field="*{fecha}" class="form-control" th:errorClass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small>
					</div>
					<div class="form-group">
						<label>Telefono: </label>
						<input type="number" th:field="*{telefono}" class="form-control" th:errorClass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
					</div>
					<div class="form-group">
						<label>Salario: </label>
						<input type="number" th:field="*{salario}" class="form-control" th:errorClass="'form-control alert-danger'" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('salario')}" th:errors="*{salario}"></small>
					</div>
					<div class="box-footer">
						<input type="submit" value="Guardar" class="btn btn-primary">
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>