<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en"> <!--begin::Head-->

<head th:replace="headAll :: html_head" />
<!--<body th:fragment="menuAll" class="hold-transition sidebar-mini layout-fixed"> MENU DESPLEGADO COMPLETAMENTE-->

<body th:fragment="menuAll" class="sidebar-mini sidebar-collapse"> <!-- MENU OCULTO SE MUETRAN LOS ICONOS-->
	<div class="wrapper">

		<!-- Preloader -->
		<div class="preloader flex-column justify-content-center align-items-center">
			<img class="animation__shake" src="../../distV32/img/AdminLTELogo.png" alt="AdminLTELogo" height="60"
				width="60">
		</div>

		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light">
			<!-- Left navbar links -->

			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="../start" role="button"><i
							class="fas fa-bars"></i></a>
				</li>
				<li class="nav-item d-none d-md-block"> <a href="../start" class="nav-link">Inicio</a> </li>
				<li class="nav-item d-none d-md-block"> <a href="../../contacto" class="nav-link">Contacto</a> </li>
				<li class="nav-item d-none d-md-block"> <a href="../../quien" class="nav-link">Quienes Somos</a> </li>
			</ul> <!--end::Start Navbar Links--> <!--begin::End Navbar Links-->

			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto">
				<!-- Navbar Search -->
				<li class="nav-item">
					<a class="nav-link" data-widget="navbar-search" href="../start" role="button">
						<i class="fas fa-search"></i>
					</a>
					<div class="navbar-search-block">
						<form class="form-inline">
							<div class="input-group input-group-sm">
								<input class="form-control form-control-navbar" type="search" placeholder="Search"
									aria-label="Search">
								<div class="input-group-append">
									<button class="btn btn-navbar" type="submit">
										<i class="fas fa-search"></i>
									</button>
									<button class="btn btn-navbar" type="button" data-widget="navbar-search">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link" data-widget="fullscreen" href="../start" role="button">
						<i class="fas fa-expand-arrows-alt"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#"
						role="button">
						<i class="fas fa-th-large"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<a href="../start" class="brand-link"> <!--begin::Brand Image-->
				<img src="../../distV32/img/GestinoLogo.png" alt="Gestion" class="brand-image opacity-75 shadow">
				<!--end::Brand Image--> <!--begin::Brand Text-->
				<span class="brand-text fw-light">Bienvenido</span>
			</a>
			<!-- Sidebar -->
			<div class="sidebar">
				<div class="sidebar-brand"> <!--begin::Brand Link-->
					<a href="../start" class="brand-link"> <!--begin::Brand Image-->
						<img src="../../distV32/img/user-circle-regular.svg" alt="Gestion"
							class="brand-image opacity-75 shadow">
						<!--end::Brand Image--> <!--begin::Brand Text-->
						<span class="brand-text fw-light" sec:authentication="name">Gestion</span>
						<!--end::Brand Text--> </a> <!--end::Brand Link-->
				</div> <!--end::Sidebar Brand--> <!--begin::Sidebar Wrapper-->


				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
						data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
						<li class="nav-item menu-open">
						</li>
						<li href="#" class="nav-header">
							<a href="/quincenas/listarQuincena" class="nav-link">
								<i class="nav-icon fa fa-list-ul"></i>
								<p>QUINCENA</p>
							</a>
						</li>
						<!--						<li class="nav-header" sec:authorize="hasRole('ROLE_ADMIN','ROLE_OPERADOR')">USUARIOS</li>-->
						<li class="nav-header">USUARIOS</li>

						<li class="nav-item">
							<a href="../start" class="nav-link">
								<i class="nav-icon fas fa-book"></i>
								<p>
									Gestion de Usuarios
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview" sec:authorize="hasAnyRole('ROLE_ADMIN')">
								<li class="nav-item">
									<a href="/usuarios/formUsu" class="nav-link">
										<i class="nav-icon far fa-id-card"></i>
										<p>Registra Usuario</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/usuarios/listarUsuarios" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Lista de Usuarios</p>
									</a>
								</li>
							</ul>
							<ul class="nav nav-treeview"
								sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CONSULTA','ROLE_OPERADOR')">
								<li class="nav-item">
									<a href="/usuarios/formUsuUpPass" class="nav-link">
										<i class="nav-icon fa fa-key"></i>
										<p>Cambiar Contraseña</p>
									</a>
								</li>
							</ul>
						</li>

						<li class="nav-header">EMPLEADOS</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-book"></i>
								<p>
									Gestion de Empleados
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/formEmpleado" class="nav-link">
										<i class="nav-icon far fa-id-card"></i>
										<p>Registra Empleado</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/empleados/listarEmpleados" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Lista de Empleados</p>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-header" sec:authorize="hasAnyRole('ROLE_ADMIN','OPERADORCUENTAS')">CARGA</li>
						<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','OPERADORCUENTAS')">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-book"></i>
								<p>
									Catalogos
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CBA" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Bancos</p>
										</div>

									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','OPERADORCUENTAS')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CCU" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Cuentas</p>
										</div>

									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CPU" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Puestos</p>
										</div>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CSE" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Servicios</p>
										</div>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CDED" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Deducciones</p>
										</div>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CPER" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Persepciones</p>
										</div>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CQNA" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Quincenas</p>
										</div>
									</a>
								</li>

							</ul>
						</li>
						<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-book"></i>
								<p>
									NOMINA
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CPRE" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Prenomina</p>
										</div>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CNOM" class="nav-link">

										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="#ffffff"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Nomina</p>
										</div>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CEM" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga Datos de Empleados</p>
										</div>

									</a>
								</li>
							</ul>
						</li>

						<li class="nav-header" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">CUENTAS
							BANCARIAS</li>
						<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-book"></i>
								<p>
									CUENTAS
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CEM" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Lista Empleados sin Cuenta</p>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CEM" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Generar Lista de Carga</p>
										</div>
									</a>
								</li>
							</ul>
						</li>


						<li class="nav-header" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">SINAVID</li>
						<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-book"></i>
								<p>
									Gestion SINAVID
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CCP" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Carga C.P. JALISCO</p>
										</div>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/catalogos/listarCCPJAL" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Lista C.P. JALISCO</p>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CEM" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Lista Empleados sin SINAVID</p>
									</a>
								</li>
								<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OPERADOR')">
									<a href="/empleados/AddEXLSX?TIPOCARGA=CEM" class="nav-link">
										<div class="d-flex">
											<svg xmlns="http://w3.org" width="24" height="24" fill="white"
												class="bi bi-journal-arrow-up text-primary mr-2" viewBox="0 0 16 16">
												<path fill-rule="evenodd"
													d="M8 5.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5z" />
												<path fill-rule="evenodd"
													d="M7.646 4.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8 5.707 6.354 7.354a.5.5 0 1 1-.708-.708l2-2z" />
												<path
													d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3z" />
											</svg>
											<p>Generar Alta SINAVID</p>
										</div>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-header">LISTADOS</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-book"></i>
								<p>
									Listados
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="/catalogos/listarPuestos" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Puestos</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/catalogos/listarServicios" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Servicios</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/catalogos/listarDeducciones" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Deducciones</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/catalogos/listarPersepciones" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Persepciones</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/catalogos/listarQNACAT" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Quincenas</p>
									</a>
								</li>
							</ul>
						</li>
						<!--						REGLAS-->
						<li class="nav-header" sec:authorize="hasAnyRole('ROLE_ADMIN')">VACACIONES</li>

						<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-book"></i>
								<p>
									Gestion de Reglas
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item">
									<a href="/reglas/formReglas" class="nav-link">
										<i class="nav-icon far fa-id-card"></i>
										<p>Registra Regla</p>
									</a>
								</li>
								<li class="nav-item">
									<a href="/reglas/listarReglas" class="nav-link">
										<i class="nav-icon fa fa-list-ul"></i>
										<p>Lista de Reglas</p>
									</a>
								</li>
							</ul>
						</li>

						<li class="nav-item"><a style="padding-left: 25px" class="nav-link">
								<i class="fa fa-power-off" aria-hidden="true"></i>
								<p>SALIR</p>
								<i class="fas fa-angle-left right"></i>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link">
										<!--							<a href="#" class="nav-link"><i class="nav-icon far fa-circle text-danger"></i>-->
										<form class="d-flex" th:action="@{/logout}" method="post">
											<!--									<input type="submit" value="Cerrar sesión"/>-->
											<button type="submit" class="btn btn-danger">
												<i class="fas fa-users"></i> Cerrar sesion
											</button>
										</form>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon far fa-circle text-info"></i>
								<p>Informacion</p>
							</a>

						</li>
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>



		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<!-- jQuery -->

	<script src="../../distV32/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="../../distV32/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- Bootstrap 4 -->
	<script src="../../distV32/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- ChartJS -->
	<script src="../../distV32/plugins/chart.js/Chart.min.js"></script>
	<!-- Sparkline -->
	<script src="../../distV32/plugins/sparklines/sparkline.js"></script>
	<!-- JQVMap -->
	<script src="../../distV32/plugins/jqvmap/jquery.vmap.min.js"></script>
	<script src="../../distV32/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="../../distV32/plugins/jquery-knob/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="../../distV32/plugins/moment/moment.min.js"></script>
	<script src="../../distV32/plugins/daterangepicker/daterangepicker.js"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="../../distV32/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- Summernote -->
	<script src="../../distV32/plugins/summernote/summernote-bs4.min.js"></script>
	<!-- overlayScrollbars -->
	<script src="../../distV32/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!-- AdminLTE App -->
	<script src="../../distV32/js/adminlte.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../../distV32/js/demo.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="../../distV32/js/pages/dashboard.js"></script>
</body>

</html>