<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en"> <!--begin::Head-->

<head th:replace="headAll :: html_head"/>

<body th:replace="menu :: menuAll"/>

		<!-- Content Wrapper. Contains page content -->
		<div th:fragment="contenMenu" class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div th:replace="div-header :: divHeader" />
			<!-- /.content-header -->

			<!-- Main content -->
			<main class="app-main"> <!--begin::App Content Header-->
				<section class="content">
					<div class="container-fluid">

					</div><!-- /.container-fluid -->
				</section>
				<!-- /.content -->
			</main> <!--end::App Main--> <!--begin::Footer-->

		</div>
		<!-- /.content-wrapper -->
		<footer th:replace="footerAll :: html_footer"/>
</html>